<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="https://static.iskwen.com/layui-v2.5.5/layui/css/layui.css" media="all">
    <script src="https://static.iskwen.com/jquery-v3.4.1/jquery-3.4.1.min.js"></script>
    <script src="https://static.iskwen.com/layui-v2.5.5/layui/layui.all.js" charset="utf-8"></script>
    <script src="https://static.iskwen.com/yuncourier/js/util.js" charset="utf-8"></script>
    <script src="https://static.iskwen.com/yuncourier/js/messagebox.js" charset="utf-8"></script>
    <script>
        var _hmt = _hmt || [];
        (function() {
            var hm = document.createElement("script");
            hm.src = "https://hm.baidu.com/hm.js?d6edbe06194cd058fc9719532b6f714d";
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(hm, s);
        })();
    </script>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-153564967-5"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-153564967-5');
    </script>
</head>
<body>
<form class="layui-form layui-form-pane" id="addCos">
    <div class="layui-tab">
        <div class="layui-tab-content">
            <div class="layui-tab-item layui-show">
                <div class="layui-form-item">
                    <label class="layui-form-label">應用</label>
                    <div class="layui-input-block">
                        <select name="softwareId" id="softwareId" lay-search>
                            <option value="0" disabled>正在加載</option>
                        </select>
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">配置名稱</label>
                    <div class="layui-input-inline">
                        <input type="text" name="cosName" id="cosName" value='' placeholder="長度不能超過255"
                               autocomplete="off" class="layui-input">
                    </div>
                    <label class="layui-form-label">默認目錄</label>
                    <div class="layui-input-inline">
                        <input type="text" name="defaultPath" id="defaultPath" value='' placeholder="長度不能超過255"
                               autocomplete="off" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">儲存桶</label>
                    <div class="layui-input-inline">
                        <input type="text" name="bucketName" id="bucketName" placeholder="長度不能超過255" autocomplete="off"
                               class="layui-input">
                    </div>
                    <label class="layui-form-label">地區</label>
                    <div class="layui-input-inline">
                        <select name="region" id="region" lay-search>
                            <option value="0" selected disabled>請選擇..</option>
                            <option value="1">成都</option>
                            <option value="2">南京</option>
                            <option value="3">北京</option>
                            <option value="4">廣州</option>
                            <option value="5">上海</option>
                            <option value="6">重慶</option>
                            <option value="7">北京金融</option>
                            <option value="8">上海金融</option>
                            <option value="9">深圳金融</option>
                            <option value="21">北京一區</option>
                            <option value="10">香港</option>
                            <option value="11">新加坡</option>
                            <option value="12">印度-孟買</option>
                            <option value="13">韓國-首爾</option>
                            <option value="14">泰國-曼谷</option>
                            <option value="15">日本-東京</option>
                            <option value="16">俄羅斯-莫斯科</option>
                            <option value="17">德國-法蘭克福</option>
                            <option value="18">加拿大-多倫多</option>
                            <option value="19">美東-弗吉尼亞</option>
                            <option value="20">美西-硅谷</option>
                        </select>
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">secretId</label>
                    <div class="layui-input-inline">
                        <input type="text" name="secretId" id="secretId" placeholder="長度不能超過255" autocomplete="off"
                               class="layui-input">
                    </div>
                    <label class="layui-form-label">secretKey</label>
                    <div class="layui-input-inline">
                        <input type="password" name="secretKey" id="secretKey" placeholder="長度不能超過255"
                               autocomplete="off" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <div class="layui-form-item layui-form-text">
                        <label class="layui-form-label">備註</label>
                        <div class="layui-input-block">
                            <textarea name="remark" id="remark" placeholder="請輸入備註，長度不能超過255"
                                      class="layui-textarea"></textarea>
                        </div>
                        <!--                    <div class="layui-form-mid layui-word-aux">無配置默認為:允許訪問</div>-->
                    </div>
                </div>
                <div>
                    溫馨提示:需前往Cos<a href="https://cloud.tencent.com/document/product/436/13318" target="_blank"
                                  style="color: #1E9FFF">设置跨域訪問</a>和<a target="_blank"
                                                                       href="https://cloud.tencent.com/document/product/436/13319"
                                                                       style="color: #1E9FFF">设置防盗链</a>
                    <i class="layui-icon layui-icon-tips"
                       lay-tips="來源Origin:<br>https://courier.iskwen.com<br>Referer:<br>courier.iskwen.com"
                       lay-offset="5"></i>
                </div>
            </div>
        </div>
    </div>
</form>
</body>
<script>
    layui.config({
        base: 'https://static.iskwen.com/yuncourier/config/' //静态资源所在路径
    }).extend({
        index: 'lib/index' //主入口模块
    }).use(['index']);
</script>
<script>
    var form = layui.form; //只有执行了这一步，部分表单元素才会自动修饰成功
    $.ajax({
        url: "//courier-api.iskwen.com/api/listMySoftware",
        type: "post",
        dataType: "json",
        data: "pageNumber=1&pageSize=10000000&state=1",
        headers: {'Authorization': getCookie("token")},
        success: function (msg) {
            if (msg.list !== undefined) {
                // var optionstring = "<option value='0' selected disabled>請選擇...</option><option value='-1'>不限</option>";
                var optionstring = "<option value='0' selected disabled>請選擇...</option>";
                for (var j = 0; j < msg.list.length; j++) {
                    optionstring += "<option value=\"" + msg.list[j].id + "\" >" + msg.list[j].software_name + " " + "</option>";
                }
                $("#softwareId").html(optionstring);
                form.render();
            } else {
                showTip(msg.tip);
            }
        },
        error: function (XMLHttpRequest, textStatus, errorThrown) {
            showErrorMsg("系统在开小差，请稍后再试");
        }
    })
</script>
</html>