<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, maximum-scale=1">
    <link href="https://static.iskwen.com/yuncourier/css/bootstrap.min14ed.css" rel="stylesheet">
    <link href="https://static.iskwen.com/yuncourier/css/font-awesome.min93e3.css" rel="stylesheet">
    <link href="https://static.iskwen.com/yuncourier/css/bootstrap-table.min.css" rel="stylesheet">
    <link href="https://static.iskwen.com/yuncourier/css/animate.min.css" rel="stylesheet">
    <link href="https://static.iskwen.com/yuncourier/css/style.min862f.css" rel="stylesheet">
    <link rel="stylesheet" href="https://static.iskwen.com/layui-v2.5.5/layui/css/layui.css" media="all">
    <script src="https://static.iskwen.com/jquery-v3.4.1/jquery-3.4.1.min.js"></script>
    <script src="https://static.iskwen.com/layui-v2.5.5/layui/layui.all.js" charset="utf-8"></script>
    <script src="https://static.iskwen.com/yuncourier/js/util.js" charset="utf-8"></script>
    <script src="https://static.iskwen.com/yuncourier/js/messagebox.js" charset="utf-8"></script>
    <script>
        var _hmt = _hmt || [];
        (function() {
            var hm = document.createElement("script");
            hm.src = "https://hm.baidu.com/hm.js?d6edbe06194cd058fc9719532b6f714d";
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(hm, s);
        })();
    </script>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-153564967-5"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-153564967-5');
    </script>
</head>
<body>


<div class="animated fadeInRight">
    <div class="ibox float-e-margins">
        <div class="ibox-content">
            <form role="form" class="form-inline" id="selectCos">
                <div class="input-group">
                    <span class="input-group-addon">Cos配置</span>
                    <select class="form-control" name="cosId" id="cosId" lay-search>
                        <option value="0" disabled>正在加載</option>
                    </select>
                </div>
            </form>
        </div>
    </div>
</div>

</body>
<script>
    var form = layui.form; //只有执行了这一步，部分表单元素才会自动修饰成功
    $.ajax({
        url: "//courier-api.iskwen.com/api/listMyCos",
        type: "post",
        dataType: "json",
        data: "pageNumber=1&pageSize=10000000&state=1",
        headers: {'Authorization': getCookie("token")},
        success: function (msg) {
            if (msg.list !== undefined) {
                // var optionstring="<option value='0' selected disabled>請選擇...</option>";
                var optionstring = "";
                for (var j = 0; j < msg.list.length; j++) {
                    optionstring += "<option value=\"" + msg.list[j].id + "\" >" + msg.list[j].cos_name + " " + "</option>";
                }
                $("#cosId").html(optionstring);
                form.render();
            } else {
                showTip(msg.tip);
            }
        },
        error: function (XMLHttpRequest, textStatus, errorThrown) {
            showErrorMsg("系统在开小差，请稍后再试");
        }
    })
</script>
</html>