<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="https://static.iskwen.com/layui-v2.5.5/layui/css/layui.css"media="all">
    <script src="https://static.iskwen.com/jquery-v3.4.1/jquery-3.4.1.min.js"></script>
    <script src="https://static.iskwen.com/layui-v2.5.5/layui/layui.all.js" charset="utf-8"></script>
    <script src="https://static.iskwen.com/yuncourier/js/util.js" charset="utf-8"></script>
    <script src="https://static.iskwen.com/yuncourier/js/messagebox.js" charset="utf-8"></script>
    <script>
        var _hmt = _hmt || [];
        (function() {
            var hm = document.createElement("script");
            hm.src = "https://hm.baidu.com/hm.js?d6edbe06194cd058fc9719532b6f714d";
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(hm, s);
        })();
    </script>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-153564967-5"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-153564967-5');
    </script>
</head>
<body>
<form class="layui-form layui-form-pane" id="modifyInfo" >
    <div class="layui-tab">
        <div class="layui-tab-content">
            <div class="layui-tab-item layui-show">
                <div class="layui-form-item">
                    <label class="layui-form-label">郵箱</label>
                    <div class="layui-input-block" >
                        <input type="text" name="mail" id="mail" value=''  autocomplete="off" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">手機號</label>
                    <div class="layui-input-block" >
                        <input type="text" name="phone" id="phone" value=''  autocomplete="off" class="layui-input" >
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
<script>
    $(document).ready(function() {
        $.ajax({
            url:"//courier-api.iskwen.com/api/getModifyInfo",
            type:"POST",
            dataType: "json",
            data:"id="+getUrlValue("id"),
            headers: {'Authorization': getCookie("token")},
            success:function(msg){
                if(msg.status==0){
                    $("#mail").val(msg.mail);
                    $("#phone").val(msg.phone);
                }else{
                    showTip(msg.tip);
                }
            },
            error:function(XMLHttpRequest, textStatus, errorThrown){
                <!--showErrorMsg(XMLHttpRequest.status);-->
                showErrorMsg("系统在开小差，请稍后再试");
            }
        });
    })
</script>
</body>
</html>