<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="https://static.iskwen.com/layui-v2.5.5/layui/css/layui.css"media="all">
    <script src="https://static.iskwen.com/jquery-v3.4.1/jquery-3.4.1.min.js"></script>
    <script src="https://static.iskwen.com/layui-v2.5.5/layui/layui.all.js" charset="utf-8"></script>
    <script src="https://static.iskwen.com/clipboard/clipboard.min.js" charset="utf-8"></script>
    <script src="https://static.iskwen.com/yuncourier/js/util.js" charset="utf-8"></script>
    <script src="https://static.iskwen.com/yuncourier/js/messagebox.js" charset="utf-8"></script>
    <script>
        var _hmt = _hmt || [];
        (function() {
            var hm = document.createElement("script");
            hm.src = "https://hm.baidu.com/hm.js?d6edbe06194cd058fc9719532b6f714d";
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(hm, s);
        })();
    </script>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-153564967-5"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-153564967-5');
    </script>
</head>
<body>
<form class="layui-form layui-form-pane" id="editSoftware" >
    <div class="layui-tab">
        <div class="layui-tab-content">
            <div class="layui-tab-item layui-show">
                <div class="layui-form-item">
                <label class="layui-form-label">應用名稱</label>
                <div class="layui-input-block" >
                    <input type="text" name="softwareName" id="softwareName" value='' placeholder="請輸入應用名稱，長度不能超過16" autocomplete="off" class="layui-input">
                </div>
            </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">Token</label>
                    <div class="layui-input-inline" style="width: 50%">
                        <input type="text" name="token" id="token" value='' placeholder="無需填寫,系統自動生成" autocomplete="off" class="layui-input" disabled>
                    </div>
<!--                    data-clipboard-action="token" data-clipboard-target="#token"-->
                    <input  type="button" class="btn layui-btn"  value="复制" data-clipboard-text="" id="copyToken">
                    <button type="button" class="layui-btn layui-btn-warm" id="changeTokenButton" onclick="changeToken();">重置Token</button>

                </div>
                <div class="layui-form-item">
                    <div class="layui-form-item layui-form-text">
                        <label class="layui-form-label">备注</label>
                        <div class="layui-input-block">
                            <textarea name="remark" id="remark" placeholder="請輸入備註，長度不能超過255" class="layui-textarea"></textarea>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
<script>
    $(document).ready(function() {
        $.ajax({
            url:"//courier-api.iskwen.com/api/getSoftwareInfo",
            type:"POST",
            dataType: "json",
            data:"id="+getUrlValue("id"),
            headers: {'Authorization': getCookie("token")},
            success:function(msg){
                if(msg.status==0){
                    $("#softwareName").val(msg.softwareName);
                    $("#token").val(msg.token);
                    $("#copyToken").attr("data-clipboard-text",msg.token);
                    $("#remark").html(msg.remark);
                }else{
                    showTip(msg.tip);
                }
            },
            error:function(XMLHttpRequest, textStatus, errorThrown){
                <!--showErrorMsg(XMLHttpRequest.status);-->
                showErrorMsg("系统在开小差，请稍后再试");
            }
        });
    })
    function changeToken() {
        showConfirm("溫馨提示","重置後原Token將失效,您確認要重置Token嗎？",function(index){
            showMsg("重置成功");
            layer.close(index);
            var newToken=getRandomStr(32).toLowerCase();
            $("#token").val(newToken);
            $("#copyToken").attr("data-clipboard-text",newToken);
        });
    }
    var clipboard = new ClipboardJS('.btn');
    clipboard.on('success', function(e) {
        showMsg("複製成功");
    });
    clipboard.on('error', function(e) {
        showTip("複製失敗");
    });
</script>

</body>
</html>