<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://static.iskwen.com/yuncourier/css/bootstrap.min14ed.css" rel="stylesheet">
    <link href="https://static.iskwen.com/yuncourier/css/font-awesome.min93e3.css" rel="stylesheet">
    <link href="https://static.iskwen.com/yuncourier/css/bootstrap-table.min.css" rel="stylesheet">
    <link href="https://static.iskwen.com/yuncourier/css/animate.min.css" rel="stylesheet">
    <link href="https://static.iskwen.com/yuncourier/css/style.min862f.css" rel="stylesheet">
    <link href="https://static.iskwen.com/layui-v2.5.5/layui/css/layui.css" rel="stylesheet">
    <style type="text/css">
        .ibox-content .form-inline .form-group{
            display: inline-block;
            margin-bottom: 0;
            vertical-align: middle;
        }
    </style>
    <script>
        var _hmt = _hmt || [];
        (function() {
            var hm = document.createElement("script");
            hm.src = "https://hm.baidu.com/hm.js?d6edbe06194cd058fc9719532b6f714d";
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(hm, s);
        })();
    </script>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-153564967-5"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-153564967-5');
    </script>
</head>
<body>
<div class="animated fadeInRight" style="padding: 1 1 1 1">
    <div class="ibox float-e-margins">
        <div class="ibox-content">
            <form role="form" class="form-inline">
                <div class="form-group">
                    <label class="row-sm-2 control-label" >搜索：</label>
                    <input type="text" placeholder="請輸入應用名稱/Token/備註" id="content" class="form-control" autocomplete="off">
                    <label class="row-sm-2 control-label">時間篩選：</label>
                    <input type="text" placeholder="開始時間" id="startTime" class="form-control" autocomplete="off">
                    <input type="text" placeholder="結束時間" id="endTime" class="form-control" autocomplete="off">
                    <label class="row-sm-2 control-label">狀態：</label>
                    <select class="form-control" name="state" id="state">
                        <option value="0" selected>不限</option>
                        <option value="1">啟用</option>
                        <option value="2">停用</option>
                        <option value="3">異常</option>
                    </select>
                    <span class="form-group-btn">
                                  <button type="button" class="btn btn-primary" style="margin-bottom:0px" onclick="javascript:reload()">搜索</button>
                                </span>
                </div>
                <div class="form-group">
                           <span class="form-group-btn">
                                  <button type="button" class="btn btn-primary" style="margin-bottom:0px" onclick="javascript:reload()">刷新</button>
                           </span>
                </div>
                <div class="form-group">
                           <span class="form-group-btn">
                                  <button type="button" class="btn btn-primary" style="margin-bottom:0px" onclick="javascript:resetSearch()">重置</button>
                           </span>
                </div>
                <div class="form-group">
                           <span class="form-group-btn">
                                  <button type="button" class="btn btn-danger" style="margin-bottom:0px" onclick="javascript:addSoftware()">新增應用</button>
                           </span>
                </div>
            </form>
        </div>
        <div class="ibox-content">
            <div class="row row-lg">
                <div class="col-sm-12">
                    <div class="example-wrap">
                        <div class="example">
                            <table id="listMySoftware" ></table>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
<script src="https://static.iskwen.com/jquery-v3.4.1/jquery-3.4.1.min.js"></script>
<script src="https://static.iskwen.com/yuncourier/js/timeUtils.js"></script>
<script src="https://static.iskwen.com/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
<script src="https://static.iskwen.com/yuncourier/js/content.min.js"></script>
<script src="https://static.iskwen.com/bootstrap-3.3.7-dist/js/bootstrap-table.min.js"></script>
<script src="https://static.iskwen.com/bootstrap-3.3.7-dist/js/bootstrap-table-mobile.min.js"></script>
<script src="https://static.iskwen.com/bootstrap-3.3.7-dist/js/bootstrap-table-zh-CN.min.js"></script>
<script src="https://static.iskwen.com/layui-v2.5.5/layui/layui.all.js"></script>
<script src="https://static.iskwen.com/clipboard/clipboard.min.js"></script>
<script src="https://static.iskwen.com/yuncourier/js/messagebox.js" charset="utf-8"></script>
<script src="https://static.iskwen.com/yuncourier/js/util.js" charset="utf-8"></script>
<script src="https://static.iskwen.com/yuncourier/js/templates/app/listMySoftware.js?v=1594026181"></script>
<script>
    var laydate = layui.laydate;
    laydate.render({
        elem: '#startTime',
        type: 'datetime',
        format: 'yyyy-MM-dd HH:mm:ss'
    });
    laydate.render({
        elem: '#endTime',
        type: 'datetime',
        format: 'yyyy-MM-dd HH:mm:ss'
    });
</script>
</body>
</html>